source https://api.nuget.org/v3/index.json

nuget NFluent
nuget NuGet.CommandLine
nuget Microsoft.CodeAnalysis.Analyzers 1.1.0 restriction: >= portable-net45+win8
nuget Microsoft.CodeAnalysis.Common 1.0.1
nuget Microsoft.CodeAnalysis.CSharp 1.0.1
nuget Microsoft.CodeAnalysis.CSharp.Workspaces 1.0.1
nuget Microsoft.CodeAnalysis.VisualBasic 1.0.1 restriction: >= net462
nuget Microsoft.CodeAnalysis.VisualBasic.Workspaces 1.0.1 restriction: >= net462
nuget Microsoft.CodeAnalysis.Workspaces.Common 1.0.1
nuget Microsoft.Composition 1.0.27
nuget NuGet.CommandLine 2.8.5 restriction: >= portable-net45+win8
nuget System.Collections.Immutable 1.1.36
nuget System.Reflection.Metadata 1.0.21
nuget xunit